<div class="sidebar">
    <div class="logo_details">
      <i class="bi bi-box-fill icon"></i>
      <div class="logo_name">MyDom</div>
      <i class="bi bi-justify" id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="#">
          <i class="bi bi-command"></i>
          <span class="link_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a href="#">
          <i class="bi bi-person"></i>
          <span class="link_name">User</span>
        </a>
        <span class="tooltip">User</span>
      </li>
      <li>
        <a href="#">
            <i class="bi bi-copy"></i>
            <span class="link_name">Courses</span>
        </a>
        <span class="tooltip">Courses</span>
      </li>
      <!-- <li>
        <a href="#">
          <i class="bi bi-pie-chart"></i>
          <span class="link_name">Analytics</span>
        </a>
        <span class="tooltip">Analytics</span>
      </li> -->
      <li>
        <a href="#">
          <i class="bi bi-folder"></i>
          <span class="link_name">Library</span>
        </a>
        <span class="tooltip">Library</span>
      </li>
      <li>
        <a href="#">
          <i class="bi bi-chat"></i>
          <span class="link_name">Blogs</span>
        </a>
        <span class="tooltip">Blogs</span>
      </li>
      <li>
        <a href="#">
          <i class="bi bi-gear"></i>
          <span class="link_name">Settings</span>
        </a>
        <span class="tooltip">Settings</span>
      </li>
      <li class="profile">
        <div class="profile_details">
          <img src="" alt="profile image">
          <div class="profile_content">
            <div class="name">Anna Jhon</div>
            <div class="designation">Admin</div>
          </div>
        </div>
        <i class="bi bi-box-arrow-right" id="log_out"></i>
      </li>
    </ul>
  </div>